<h1>About Newbs Club</h1>
<p>Newbs Club mission is to create a safe space for aspiring developers to talk to each other, learn from one another, and share each other's networks. Newbs Club was created with the sole purpose of new developers helping each other out, as they face learning how to code, job searching, and networking with the tech community.

We hope you can find what you are looking here at Newbs Club. Feel free to check out our resource list of free and accessible websites to help boost your coding career!</p>
